extends layout

block content
	h1 Profile

	dl
		dt Id
		dd #{user.id}
		dt Roles
		for role in user.roles
			dd #{role}
		dt AD Groups
		for group in user.adGroups
			dd #{group}

	a(href="/logout") Logout